 Question 1

In [1]:
# importing pandas and printing the version

import pandas as pd
print(pd.__version__)

1.0.5

Question 2

In [5]:
import numpy as np

arr = np.array([1,2,3,4,5,6])
series = pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

Question 3

In [10]:
import pandas as pd
import numpy as np

arr1 = np.array([1,2,3,4,5,6])
index = pd.Series(arr1)
pd.DataFrame(index, columns=['index'])

   index
0      1
1      2
2      3
3      4
4      5
5      6

Question 4

In [5]:
import seaborn as sns

data_set = sns.get_dataset_names()
print(data_set)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [6]:
# load mpg dataset from seaborn module

data = sns.load_dataset('mpg')
print(data)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

Question 5

In [7]:
# printing country origin cars are a part of dataset

print(data['origin'].unique())

['usa' 'japan' 'europe']

Question 6

In [8]:
# printing the dataframe of cars belonging to usa

print(data[data['origin']=='usa'])

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]